body {
	background-image: url(../assets/images/Cats-2014.2.jpeg);
	background-size: 100% auto;
	padding-bottom: 70px;
}
.jumbotron {
	background-color: rgba(255,255,255,0.4);
	color: rgb(30,10,10);
}
.container {
	background:rgba(30, 10, 10, 0.79);
	border-radius: 5px;
	color: white;
	padding-bottom: 20px;
}
caption, h4{
	color: rgb(30,10,10);
}
.panel-heading {
	background:rgba(255,255,255,0.5);
}
.panel {
	background:rgba(255,255,255,0.4);
}
#hepcat1 {
	background-image: url(../assets/images/Cats-2014.2.1.jpg);
	background-size: contain;
}
#hepcat2 {
	background-image: url(../assets/images/Cats-2014.2.2.jpg);
	background-size: contain;
}
#hepcat3 {
	background-image: url(../assets/images/Cats-2014.2.3.jpg);
	background-size: contain;
}
#hepcat4 {
	background-image: url(../assets/images/Cats-2014.2.4.jpg);
	background-size: contain;
}
#hepcat5 {
	background-image: url(../assets/images/Cats-2014.2.5.jpg);
	background-size: contain;
}
#hepcat6 {
	background-image: url(../assets/images/Cats-2014.2.6.jpg);
	background-size: contain;
}
.alert{
	display: none;
}
video {
	width: 70%;
}
audio {
	width: 70%;
}
li a{
	text-align: right;
}
td > button {
	color: black;
}