<table class="table">
    <thead>
        <tr>
            <td><strong>Contact Name</strong></td>
            <td><strong>Contact Phone</strong></td>
            <td><strong>Date Requested</strong></td>
            <td><strong>Comments</strong></td>
        </tr>
    </thead>
    <tr ng-repeat="gig in gigs">
        <td>{{todo.name}}</td>
        <td>{{todo.phone}}</td>
        <td>{{todo.date}}</td>
        <td>{{todo.info}}</td>
        <td>
            <button ng-click="editTodo(todo.id)"><span class="glyphicon glyphicon-edit"></span></button>
            <button ng-click="deleteTodo(todo.id)"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
</table>