<div h1-header></div>
	<div class="panel">
		<div class="panel-heading">Free Downloads</div>
		<table class="table">
				<caption>Below you will find a list of Free downloads etc..</caption>
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Artist</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Daydream Believer</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span> Download
        				</button></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Daydream Believer</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span> Download
        				</button></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Daydream Believer</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span> Download
        				</button></td>
					</tr>
					<tr>
						<td>1</td>
						<td>Daydream Believer</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span> Download
        				</button></td>
					</tr>
				</tbody>
		</table>
	</div>