<div h1-header></div>
	<div class="panel">
		<div class="panel-heading">Free Downloads</div>
		<table class="table">
				<caption>Below you will find a list of Free downloads etc..</caption>
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Clarksville</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="assets/audio/Clarksville.mp3" download> Download</a>
        				</button></td>
					</tr
					<tr>
						<td>Daydream Believer</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="assets/audio/DaydreamBeliever.mp3" download> Download</a>
        				</button></td>
					</tr>
					<tr>
						<td>I'm a Believer</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="assets/audio/ImABeliever.mp3" download> Download</a>
        				</button></td>
					</tr>
					<tr>
						<td>(I'm Not Your) Steppin' Stone</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span><a href="assets/audio/SteppingStone.mp3" download> Download</a>
        				</button></td>
					</tr>
				</tbody>
		</table>
	</div>