<div h1-header></div>
<h3 class="text-center">Footage of Our Recent Gig
<br>
	<video controls="controls" autoplay><source src="assets/video/TheMonkees.mp4" type="video/mp4"></video>
</h3>
<div class="panel">
	<div class="panel-heading">Upcoming Gigs</div>
	<table class="table">
		<caption>Below you will find a list of our upcoming Gigs and engagements</caption>
		<thead>
			<tr>
				<th>Date</th>
				<th>Venue</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Gig in BookedGigs">
				
				<td>{{Gig.date}}</td>
				<td>{{Gig.venue}}</td>
				<td>{{Gig.Price}}</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-heading">
		<button ng-show="subscribed()" "type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#gigReguest-modal">Make a Gig Request</button>

		<div ng-hide="subscribed()">
			
			<div class="alert alert-info">
			    <strong>Info!</strong> If you want to make a gig Request you should either Subscribe or Login.
			</div>
			<br>

			<a href="#/subscribe"><button type="button" class="btn btn-primary btn-lg">Subscribe</button></a>
			
			<a href="#/login"><button type="button" class="btn btn-primary btn-lg pull-right">Login</button></a>
		</div>

		
		<div class="modal fade col-sm-6 items-center" id="gigReguest-modal" tabindex="-1" role="dialog" aria-labelledby="gigSubmisionForm-modal" aria-hidden="true">
			<div class="modal-dailog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id=gigSubmissionForm-header>Gig Submission</h4>
					</div>
					<div class="modal-body">
						<form name="gigSubmissionForm" ng-submit="submitForm()" novalidate>
							<div class="form-group">
								<label>Contact Name:</label>
								<input type="text" name="title" class="form-control" ng-model="gig.title" required>
								<p ng-show="gigSubmissionForm.title.$pristine" class="help-block">Your Name Please</p>
							</div>
							<div class="form-group">
								<label>Contact Number:</label>
								<input type="tel" name="number" class="form-control" ng-model="gig.number" required>
								<p ng-show="gigSubmissionForm.description.$pristine" class="help-block">Your Phone number Please</p>
							</div>
							<div class="form-group">
								<label>Date:</label>
								<input type="date" name="description" class="form-control" ng-model="gig.description" required>
								<p ng-show="gigSubmissionForm.date.$pristine" class="help-block">The Date You are requesting a gig for!</p>
							</div>
							<div class="form-group">
								<label>Comment</label>
								<input type="textarea" name="info" class="form-control" ng-model="gig.info">
								<p ng-show="gigSubmissionForm.info.$pristine" class="help-block">Please submit any other information you think we need to know here!!</p>
							</div>
							<button type="submit" class="btn btn-primary btn-lg" ng-disabled="gigSubmissionForm.$invalid" data-toggle="modal" data-target="#gigReguest-modal">Submit Gig Request</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-heading" ng-show="subscribed()">Your Requested Gigs</div>
	<table ng-show="subscribed()" class="table">
    	<thead>
    	    <tr>
    	        <td><strong>User Name</strong></td>
    	        <td><strong>Date</strong></td>
    	        <td><strong>Status</strong></td>
    	        <td><strong>Actions</strong></td>
    	    </tr>
    	</thead>
    	<tr ng-repeat="gig in gigs">
    	    <td>{{gig.username}}</td>
    	    <td>{{gig.description}}</td>
    	    <td>{{gig.status}}</td>
    	    <td>
    	        <button ng-click="editGig(gig.id)"><span class="glyphicon glyphicon-edit"></span></button>
    	        <button ng-click="deleteGig(gig.id)"><span class="glyphicon glyphicon-trash"></span></button>
    	    </td>
    	</tr>
	</table>
</div>


