<div h1-header></div>

	<div class="panel">
		<div class="panel-heading">Upcoming Gigs</div>
		<table class="table">
				<caption>Below you will find a list of our upcoming Gigs and engagement</caption>
				<thead>
					<tr>
						<th>Item</th>
						<th>Date</th>
						<th>Venue</th>
						<th>€Price</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="Gig in Gigs">
						<td>{{Gig.item}}</td>
						<td>{{Gig.date}}</td>
						<td>{{Gig.venue}}</td>
						<td>{{Gig.Price}}</td>
					</tr>
				</tbody>
		</table>
	</div>

