<div h1-header></div>
<h3 class="text-center">Footage of Our Recent Gig
<br>
	<video controls="controls" autoplay><source src="assets/video/TheMonkees.mp4" type="video/mp4"></video>
</h3>
<div class="panel">
	<div class="panel-heading">Upcoming Gigs</div>
	<table class="table">
		<caption>Below you will find a list of our upcoming Gigs and engagements</caption>
		<thead>
			<tr>
				<th>Date</th>
				<th>Venue</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Gig in Gigs">
				
				<td>{{Gig.date}}</td>
				<td>{{Gig.venue}}</td>
				<td>{{Gig.Price}}</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-heading">
		<button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#gigReguest-modal">Make a Gig Request</button>
		
		<div class="modal fade col-sm-6 items-center" id="gigReguest-modal" tabindex="-1" role="dialog" aria-labelledby="gigSubmisionForm-modal" aria-hidden="true">
			<div class="modal-dailog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id=gigSubmissionForm-header>Gig Submission</h4>
					</div>
					<div class="modal-body">
						<form name="gigSubmissionForm" ng-submit="submitForm()" novalidate>
							<div class="form-group">
								<label>Contact Name:</label>
								<input type="text" name="name" class="form-control" ng-model="user.username" required>
								<p ng-show="gigSubmissionForm.name.$pristine" class="help-block">Your Name Please</p>
							</div>
							<div class="form-group">
								<label>Contact Number:</label>
								<input type="tel" name="userphone" class="form-control" ng-model="user.userphone" required>
								<p ng-show="gigSubmissionForm.userphone.$pristine" class="help-block">Your Phone number Please</p>
							</div>
							<div class="form-group">
								<label>Date:</label>
								<input type="date" name="date" class="form-control" ng-model="user.date" required>
								<p ng-show="gigSubmissionForm.date.$pristine" class="help-block">The Date You are requesting a gig for!</p>
							</div>
							<div class="form-group">
								<label>Comment</label>
								<input type="textarea" name="info" class="form-control" ng-model="user.info">
								<p ng-show="gigSubmissionForm.info.$pristine" class="help-block">Please submit any other information you think we need to know here!!</p>
							</div>
							<button type="submit" class="btn btn-primary" ng-disabled="gigSubmissionForm.$invalid">Submit Gig Request</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

