<div h1-header></div>

    <div class="container-fluid">
        <div class="col-sm-12">
        <p>Please submit your name and email address to recieve or newsletter via email.  We send email a minimum of once a month.  Including upcoming gigs and information on our latest tracks and downloads as well as other merchandise.</p>
            <form name="subscriptionForm" ng-submit="submitForm()" novalidate>
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" name="name" class="form-control" ng-model="user.username" required>
                    <p ng-show="subscriptionForm.name.$pristine" class="help-block">Your username is required</p>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" required>
                    <p ng-show="subscriptionForm.password.$pristine" class="help-block">A Password is required</p>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email" required>
                    <p ng-show="subscriptionForm.email.$pristine" class="help-block">Your email is required</p>
                </div>
                <div class="form-group">
                    <label>Comment:</label>
                    <input type="textarea" name="comment" id="comment" rows="3" class="form-control" ng-model="user.comment" >
                    <p ng-show="subscriptionForm.comment.$pristine" class="help-block">Any other information you wish to share with us!</p>
                </div>
            
                <button type="submit" class="btn btn-primary" ng-disabled="subscriptionForm.$invalid">Subscribe</button>
            </form>
        </div>

    </div>
