<div h1-header></div>
<div class="alert alert-success" id="congratsAlert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="false"> Dismiss &times;</span>
    </button>
    <strong>Congratulations!!!</strong>  You are Subscribed to Suzie and the Hep Cats Newsletter!
</div>
<div class="alert alert-info" id="heyAlert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"> Login &times;</span>
    </button>
    <strong>Hey! You may already be subscribed</strong>  We Can try to log you in if you wish!
</div>
<div class="alert alert-info" id="OppsAlert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"> Dismiss &times;</span>
    </button>
    <strong>Opps!</strong> Something is wrong!
</div>
<div class="alert alert-info" id="welcomeBAlert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"> Go to Gigs page &times;</span>
    </button>
    <strong>Welcome Back!</strong> You are logged in!
</div>
    <div class="container-fluid">
        <div class="col-sm-12">
        <p>Please submit your name and email address to recieve or newsletter via email.  We send email a minimum of once a month.  Including upcoming gigs and information on our latest tracks and downloads as well as other merchandise.</p>
            <form name="subscriptionForm" ng-submit="submitForm()" novalidate>
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" name="name" class="form-control" ng-model="user.username" required>
                    <p ng-show="subscriptionForm.name.$pristine" class="help-block">Your username is required</p>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" required>
                    <p ng-show="subscriptionForm.password.$pristine" class="help-block">A Password is required</p>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email" required>
                    <p ng-show="subscriptionForm.email.$pristine" class="help-block">Your email is required</p>
                </div>
            
                <button type="submit" class="btn btn-primary btn-lg" ng-disabled="subscriptionForm.$invalid">Subscribe</button>
            </form>
        </div>

    </div>
