<div h1-header></div>
	<div class="panel">
		<div class="panel-heading">Tracks</div>
		<table class="table">
				<caption>Below you will find a list of Free downloads etc..</caption>
				<thead>
					<tr>
						<th>Preview</th>
						<th>Title</th>
						<th>Artist</th>
						<th>iTunes</th>
						<th>Amazon</th>
						<th>Direct</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span><audio controls="mute" style="width: 5px"><source src="assets/audio/ImABeliever.mp3"></audio></span></td>
						<td>I'm a Believer</td>
						<td>The Monkees</td>
						<td><a href="https://geo.itunes.apple.com/ie/album/im-a-believer/id4512505?i=4512481&mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/music-lrg.svg) no-repeat;width:82px;height:30px;background-size:contain;"></a></td>
						<td><a href="https://www.amazon.com/Im-A-Believer-Single-Version/dp/B00125YYD6/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1480675019&sr=1-1&keywords=the+monkees+im+a+believer" style="display:inline-block;overflow:hidden;background:url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/amazon-logo._CB192256676_.gif) no-repeat;width:82px;height:40px;background-size:contain;"></a></td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-shopping-cart"></span> Purchase
        				</button></td>
					</tr>
					<tr>
						<td><span><audio controls="mute" style="width: 5px"><source src="assets/audio/DaydreamBeliever.mp3"></audio></span></td>
						<td>Daydream Believer</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt
"></span> Download
        				</button></td>
					</tr>
					<tr>
						<td><span><audio controls="mute" style="width: 5px"><source src="assets/audio/Clarksville.mp3"></audio></span></td>
						<td>Clarksville</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span> Download
        				</button></td>
					</tr>
					<tr>
						<<td><span><audio controls="mute" style="width: 5px"><source src="assets/audio/SteppingStone.mp3"></audio></span></td>
						<td>Stepping Stone</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span> Download
        				</button></td>
					</tr>
					<tr>
						<<td><span><audio controls="mute" style="width: 5px"><source src="assets/audio/tailtoddle_lo.mp3"></audio></span></td>
						<td>Tail Toddle</td>
						<td>The Monkees</td>
						<td><button type="button" class="btn btn-default btn-sm">
          				<span class="glyphicon glyphicon-download-alt"></span> Download
        				</button></td>
					</tr>
				</tbody>
		</table>
	</div>