<div h1-header></div>
<div></div>
<div></div>
	<div class="panel">
		<div class="panel-heading">Tracks</div>
		<table class="table">
				<caption> Below you will find a list of Tracks and Albums available for purchase. Click on albums to expand the view</caption>
				<thead>
					<tr>
						<th>Album</th>
						<th>Title</th>
						<th>Artist</th>
						<th>Purchase</th>
						<!--th>Amazon</th-->
					</tr>
				</thead>
				<tbody>
					<tr data-toggle="collapse" data-target=".monkees" class="clickable" >
						<td>The Best of the Monkees</td>
						<td> <span class="glyphicon glyphicon-chevron-down"> </td>
						<td>The Monkees</td>
						<td colspan="3"></td>
					</tr>
					<tr id="accordion" class="collapse monkees">
						<td><span><audio controls><source src="assets/audio/ImABeliever.mp3"></audio></span></td>
						<td>I'm a Believer</td>
						<td>The Monkees</td>
						<td><a href="https://geo.itunes.apple.com/ie/album/im-a-believer/id4512505?i=4512481&mt=1&app=music" class="btn btn-social-icon" style="background:url(assets/images/AppleLogo.ico) no-repeat;background-size: contain"></a><!--/td>
						<td--><a href="https://www.amazon.com/Im-A-Believer-Single-Version/dp/B00125YYD6/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1480675019&sr=1-1&keywords=the+monkees+im+a+believer" class="btn btn-social-icon" style="background:url(assets/images/Amazon.ico) no-repeat;background-size: contain"></a></td>
					</tr>
					
					<tr class="collapse monkees">
						<td><span><audio controls><source src="assets/audio/DaydreamBeliever.mp3"></audio></span></td>
						<td>Daydream Believer</td>
						<td>The Monkees</td>
						<td><a href="https://geo.itunes.apple.com/ie/album/daydream-believer/id4512505?i=4512412&mt=1&app=music" class="btn btn-social-icon" style="background:url(assets/images/AppleLogo.ico) no-repeat;background-size: contain"></a><!--/td>
						<td--><a href="https://www.amazon.com/dp/B00125WVGI/ref=dm_ws_tlw_trk20" class="btn btn-social-icon" style="background:url(assets/images/Amazon.ico) no-repeat;background-size: contain"></a></td>
					</tr>
					<tr class="collapse monkees">
						<td><span><audio controls><source src="assets/audio/Clarksville.mp3"></audio></span></td>
						<td>Last Train to Clarksville</td>
						<td>The Monkees</td>
						<td><a href="https://geo.itunes.apple.com/ie/album/last-train-to-clarksville/id4512505?i=4512503&mt=1&app=music" class="btn btn-social-icon" style="background:url(assets/images/AppleLogo.ico) no-repeat;background-size: contain"></a><!--/td>
						<td--><a href="https://www.amazon.com/dp/B00125SAEU/ref=dm_ws_tlw_trk2" class="btn btn-social-icon" style="background:url(assets/images/Amazon.ico) no-repeat;background-size: contain"></a></td>
					</tr>
					<tr class="collapse monkees">
						<td><span><audio controls><source src="assets/audio/SteppingStone.mp3"></audio></span></td>
						<td>(I'm Not Your) Steppin' Stone</td>
						<td>The Monkees</td>
						<td><a href="https://geo.itunes.apple.com/ie/album/im-not-your-steppin-stone/id4512505?i=4512485&mt=1&app=music"  class="btn btn-social-icon" style="background:url(assets/images/AppleLogo.ico) no-repeat;background-size: contain"></a><!--/td>
						<td--><a href="https://www.amazon.com/dp/B00125WVD6/ref=dm_ws_tlw_trk6" class="btn btn-social-icon" style="background:url(assets/images/Amazon.ico) no-repeat;background-size: contain"></a></td>
					</tr>
					<tr data-toggle="collapse" data-target=".unknown" class="clickable">
						<td>Unknown Artists</td>
						<td> <span class="glyphicon glyphicon-chevron-down"> </span></td>
						<td>Unknown</td>
						<td colspan="3"></td>
					</tr>
					<tr class="collapse unknown">
						<td><span><audio controls><source src="assets/audio/tailtoddle_lo.mp3"></audio></span></td>
						<td>Tail Toddle</td>
						<td>Unknown</td>
						<td><a href="https://geo.itunes.apple.com/us/album/tail-toddle/id279025060?i=279025096&mt=1&app=music" class="btn btn-social-icon" style="background:url(assets/images/AppleLogo.ico) no-repeat;background-size: contain"></a><!--/td>
						<td--><a href="https://www.amazon.com/Juan-Martinos-Tail-Toddle-Whellans/dp/B003Z4G3Y0/ref=sr_1_1?s=dmusic&ie=UTF8&qid=1482697486&sr=1-1-mp3-albums-bar-strip-0&keywords=tail+toddle" class="btn btn-social-icon" style="background:url(assets/images/Amazon.ico) no-repeat;background-size: contain"></a></td>
					</tr>
				</tbody>
		</table>
	</div>